* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;                                  
  }
  
  body {
    height: 200vh;
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
 }
 
 /* HEADER */

 header {
    position: relative;
    padding: 1.5rem 2rem
 }

 nav li {
    list-style: none;
 }

 nav a {
    text-decoration: none;
    color: #8B8B8B;
    font-size: 1ren;
 }

 nav a:hover {
    color:#5468E7;
 }

 .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
 }

 .navbar .menu_items {
    display: flex;
    gap: 2rem;
 }

 .navbar .toggle_btn {
    color: #232340;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
 }

 .contact_btn {
    background-color: #232340;
    color: #fff;
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
 }

 .contact_btn:hover {
    scale: 1.05;
    color:#fff;
 }

 .contact_btn:active {
    scale: 0.95;
 }

 /* DROPDOWN MENU */
 .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 85px;
    height: 0;
    width: 300px;
    background: rgb(230, 230, 230);
    backdrop-filter: blur(15px); 
    border-radius: 18px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

 .dropdown_menu.open {
    height: 240px;
 }

.dropdown_menu li {
    padding: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .contact_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* INTRODUCTION */
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
}

.intro_txt {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: #fff;
    gap: 25px;
    margin-left: 130px;
}

.intro_txt h1 {
    max-width: 467px;
    font-size: 4.6rem;
    color: #232340;
}

.intro_txt p {
    max-width: 350px;
    line-height: 1.8;
    font-size: 0.9rem;
    color: #606060;
}

.recent-work_btn{
    background-color: #5468E7;
    color: #fff;
    max-height: 64px;
    max-width: 200px;
    padding: 20px 38px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.recent-work_btn:hover {
    scale: 1.05;
    background-color: #2b3473;
 }

 .recent-work_btn:active {
    scale: 0.95;
 }

 .intro_img{
    display: flex;
    align-items: center;
    
    margin-left: 110px;
 }

 .intro_img img{
    position: absolute;
 }

.intro_img .hero{
    width: 500px;
    
 }
.intro_img .bg{
    width: 400px;
    
 }

 /* RESPONSIVE DESIGN */
@media(max-width: 900px) {
    .navbar .menu_items,
    .navbar .contact_btn {
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    /*ajustar textp intro*/
}

@media(max-width: 500px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}