* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'SF Pro Display', sans-serif;                                  
 }
 
 body {
   background-color: #FFFFFF;
   background-size: cover;
   background-position: center;
}

/* HEADER */

header {
   height: 128px;
   /*width: 375px*/
   position:relative;
   padding: 44px 32px; 
}


.navbar {
   width: 100%;
   height: 40px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo_mobile {
   display: block;
}

.logo_desktop {
   display: none;
}

.navbar .menu_items {
   display: none;
}

.navbar .contact_btn {
   display: none;
}

.navbar .toggle_btn {
   display: block;
}

.navbar .toggle_btn i {
   height: 12px;
   width: 32px;
}

/* Inicio */

.container_intro {
   height: 740px;
   display: flex;
   flex-direction: row; 
   margin: 0 auto;
}

.intro_txt {
   height: 356px; /*168 h1 + 84 p + 56 button + 48 gap*/
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   color: #fff;
   gap: 24px;
   padding: 0 32px;
}

.intro_txt h1 {
   width: 311px; 
   height: 168px;
   font-size: 48px;
   color: #232340;
}

.intro_txt p {
   width: 311px;
   height: 84px;
   line-height: 1.8;
   font-size: 16px;
   color: #606060;
}

.recent-work_btn {
   background-color: #5468E7;
   color: #fff;
   height: 56px;
   width: 160px;
   border: none;
   outline: none;
   border-radius: 8px;
   font-size: 16px;
   cursor: pointer;
   transition: scale 0.2 ease;
}

.recent-work_btn:hover {
   scale: 1.05;
   background-color: #2b3473;
}

.recent-work_btn:active {
   scale: 0.95;
}

.intro_img-mob {
   height: 680px;
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
}

.intro_img-mob img {
   position: absolute;
}

.intro_img-desk {
   display: none;
}

/* Quem somos */

.container_who-we-are {
   width: 375px;
   height: 1681px;
   background-color: #232340;
   padding: 64px 0 0 33px;
}

.title_section {
   display: flex;
   width: 124px;
   justify-content: space-between;
}

.title_section p {
   color: #ADADAD;
   font-size: 14px;
}

.title_section h2 {
   color: #FFFFFF;
   font-size: 14px;
   
}

.subtitle_section p {
   width: 280px;
   height: 192px;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   color: #FFFFFF;
   margin: 24px 0;
}

.menu_section {
   width: 309px;
   display: flex;
   justify-content: space-between;
}

.arrows {
   width: 48px;
   height: 48px;
   background-color: #232340;
   border: none;
   outline: none;
   border-radius: 24px;
   cursor: pointer;
   transition: scale 0.2 ease;
}
   
.arrows:hover {
   scale: 1.05;
   background-color: #5468E7;
}
   
.dropdown_year{
   width: 130px;
   height: 48px;
   background-color: #232340;
   border: none;
   border-radius: 8px;
   color: #FFFFFF;
   font-size: 14px;
}

.dropdown_year i{
   padding-left: 30px ;
}

.dropdown_year:hover{
   background-color: #5468E7;
}

